.filter {
  padding: 2rem 0 1rem;
  border-top: 2px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;

  @media (min-width: 768px) {
    flex-direction: row;
    align-items: center;
  }

  .title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  .options {
    display: flex;
    padding: 0.25rem;
    overflow: auto;

    @media (min-width: 512px) {
      gap: 0.5rem;
    }

    .option {
      font-size: 0.95rem;
      color: var(--text);
      padding: 0.25rem 0.75rem;
      border-radius: 0.25rem;

      &:hover,
      &:focus {
        color: var(--primary);
      }

      &[data-active='true'] {
        color: var(--primary);
        font-weight: 600;
      }
    }
  }
}
